Repository konker/konker.dev: changes, and which Codecov flags are due for each by the changed paths.
All: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

codecov.yaml:

codecov:
  max_report_age: off

# See: https://docs.codecov.com/docs/flags#advanced-bespoke-flag-management
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 100%

# Add Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
  branches:
    - "main"

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  aws-client-effect-dynamodb:
    paths:
      - "packages/aws-client-effect-dynamodb/**"
    carryforward: true

  aws-client-effect-s3:
    paths:
      - "packages/aws-client-effect-s3/**"
    carryforward: true

  aws-client-effect-secrets-manager:
    paths:
      - "packages/aws-client-effect-secrets-manager/**"
    carryforward: true

  aws-client-effect-sns:
    paths:
      - "packages/aws-client-effect-sns/**"
    carryforward: true

  aws-client-effect-sqs:
    paths:
      - "packages/aws-client-effect-sqs/**"
    carryforward: true

  aws-client-effect-ssm:
    paths:
      - "packages/aws-client-effect-ssm/**"
    carryforward: true

  middleware-fp:
    paths:
      - "packages/middleware-fp/**"
    carryforward: true

  momento-cache-client-effect:
    paths:
      - "packages/momento-cache-client-effect/**"
    carryforward: true

  tiny-auth-utils-fp:
    paths:
      - "packages/tiny-auth-utils-fp/**"
    carryforward: true

  tiny-cache-fp:
    paths:
      - "packages/tiny-cache-fp/**"
    carryforward: true

  tiny-error-fp:
    paths:
      - "packages/tiny-error-fp/**"
    carryforward: true

  tiny-event-fp:
    paths:
      - "packages/tiny-event-fp/**"
    carryforward: true

  tiny-filesystem-fp:
    paths:
      - "packages/tiny-filesystem-fp/**"
    carryforward: true

  tiny-rules-fp:
    paths:
      - "packages/tiny-rules-fp/**"
    carryforward: true

  tiny-treecrawler-fp:
    paths:
      - "packages/tiny-treecrawler-fp/**"
    carryforward: true

  tiny-utils-fp:
    paths:
      - "packages/tiny-utils-fp/**"
    carryforward: true

Update dependencies
  apps/backend-boilerplate.konker.dev/package.json
  apps/konker.dev/package.json
  package.json
  packages/aws-jwt-verify-effect/package.json
  packages/common-config/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-money-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Fix errors in astro build after dependency updates
  apps/konker.dev/astro.config.mjs
  apps/konker.dev/package.json
  apps/konker.dev/src/components/blog/BlogPostIndexItem.astro
  apps/konker.dev/src/components/moonlight/PrevNextItemNavigation.astro
  apps/konker.dev/src/components/moonlight/SubCollectionIndexItem.astro
  apps/konker.dev/src/components/site/MainNavigation.astro
  apps/konker.dev/src/components/site/NavigationPanel.astro
  apps/konker.dev/src/components/site/PrevNextNavigation.astro
  apps/konker.dev/src/components/site/ThemeModeToggle.astro
  apps/konker.dev/src/layouts/blog/BlogPostLayout.astro
  apps/konker.dev/src/styles/global.css
  pnpm-lock.yaml
Due: none

Fix various errors after dependency updates
  apps/backend-boilerplate.konker.dev/.gitignore
  apps/backend-boilerplate.konker.dev/eslint.config.mjs
  packages/tiny-filesystem-fp/package.json
  pnpm-lock.yaml
Due: tiny-filesystem-fp

Change all references to @konker.dev/common-config to 'latest'
  apps/backend-boilerplate.konker.dev/package.json
  apps/konker.dev/package.json
  packages/aws-jwt-verify-effect/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-money-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Bump patch versions
  packages/aws-jwt-verify-effect/package.json
  packages/common-config/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-money-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
Due: middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Add WithApiGatewayProxyEventRaw to apiGatewayProxyEventV2Adapter middleware
  packages/middleware-fp/src/http/contrib/apiGatewayProxyEventV2Adapter.test.ts
  packages/middleware-fp/src/http/contrib/apiGatewayProxyEventV2Adapter.ts
Due: middleware-fp

@konker.dev/middleware-fp v0.4.0
  packages/middleware-fp/package.json
Due: middleware-fp

Add initial sst with AWS lambda handler
  apps/backend-boilerplate.konker.dev/.gitignore
  apps/backend-boilerplate.konker.dev/eslint.config.mjs
  apps/backend-boilerplate.konker.dev/package.json
  apps/backend-boilerplate.konker.dev/src/api/root/core.test.ts
  apps/backend-boilerplate.konker.dev/src/api/root/core.ts
  apps/backend-boilerplate.konker.dev/src/api/root/handler.test.ts
  apps/backend-boilerplate.konker.dev/src/api/root/handler.ts
  apps/backend-boilerplate.konker.dev/src/index.http
  apps/backend-boilerplate.konker.dev/src/index.ts
  apps/backend-boilerplate.konker.dev/src/lib/consts.ts
  apps/backend-boilerplate.konker.dev/src/root.test.ts
  apps/backend-boilerplate.konker.dev/src/root.ts
  apps/backend-boilerplate.konker.dev/sst-env.d.ts
  apps/backend-boilerplate.konker.dev/sst.config.ts
  apps/backend-boilerplate.konker.dev/tsconfig.json
Due: none

@konker.dev/middleware-fp v0.5.0
  packages/middleware-fp/package.json
Due: middleware-fp

Add honoAdapter middleware
  packages/middleware-fp/package.json
  packages/middleware-fp/src/http/contrib/honoAdapter.test.ts
  packages/middleware-fp/src/http/contrib/honoAdapter.ts
  packages/middleware-fp/src/http/contrib/index.ts
  packages/middleware-fp/src/test/fixtures/honoRequest-allUndefined.ts
  packages/middleware-fp/src/test/fixtures/honoRequest-complete.ts
  packages/middleware-fp/src/test/fixtures/honoRequest-endToEnd.ts
  packages/middleware-fp/src/test/fixtures/honoRequest-withUndefined.ts
  packages/middleware-fp/src/test/fixtures/honoRequestFactory.ts
  packages/middleware-fp/vitest.config.ts
Due: middleware-fp

Remove some redundant test cases
  packages/middleware-fp/src/http/contrib/apiGatewayProxyEventV2Adapter.test.ts
  packages/middleware-fp/src/http/contrib/honoAdapter.test.ts
  packages/middleware-fp/src/test/fixtures/apiGatewayProxyEventV2-endToEnd.ts
  packages/middleware-fp/src/test/fixtures/honoRequest-allUndefined.ts
  packages/middleware-fp/src/test/fixtures/honoRequest-endToEnd.ts
  packages/middleware-fp/src/test/fixtures/honoRequest-withUndefined.ts
Due: middleware-fp

@konker.dev/middleware-fp v0.6.0
  packages/middleware-fp/package.json
Due: middleware-fp

Add fetchAdapter middleware
  packages/middleware-fp/package.json
  packages/middleware-fp/src/http/contrib/fetchAdapter.test.ts
  packages/middleware-fp/src/http/contrib/fetchAdapter.ts
  packages/middleware-fp/src/http/contrib/index.ts
  packages/middleware-fp/src/test/fixtures/fetchRequest-allUndefined.ts
  packages/middleware-fp/src/test/fixtures/fetchRequest-complete.ts
Due: middleware-fp

Adapt backend-boilerplate for Hetzner container deployment
  apps/backend-boilerplate.konker.dev/.dockerignore
  apps/backend-boilerplate.konker.dev/.gitignore
  apps/backend-boilerplate.konker.dev/.prettierignore
  apps/backend-boilerplate.konker.dev/deployment/Dockerfile
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-deployment.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-ingresroute.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-service.yaml
  apps/backend-boilerplate.konker.dev/package.json
  apps/backend-boilerplate.konker.dev/src/api/root/core.test.ts
  apps/backend-boilerplate.konker.dev/src/api/root/core.ts
  apps/backend-boilerplate.konker.dev/src/api/root/handler.test.ts
  apps/backend-boilerplate.konker.dev/src/api/root/handler.ts
  apps/backend-boilerplate.konker.dev/src/hono/hono-app.ts
  apps/backend-boilerplate.konker.dev/src/hono/hono-aws-serverless.ts
  apps/backend-boilerplate.konker.dev/src/hono/hono-cloudflare-serverless.ts
  apps/backend-boilerplate.konker.dev/src/hono/hono-node-server.ts
  apps/backend-boilerplate.konker.dev/src/index.http
  apps/backend-boilerplate.konker.dev/src/root.test.ts
  apps/backend-boilerplate.konker.dev/src/root.ts
  apps/backend-boilerplate.konker.dev/sst-env.d.ts
  apps/backend-boilerplate.konker.dev/sst.config.ts
  apps/backend-boilerplate.konker.dev/vitest.config.ts
  packages/middleware-fp/package.json
  packages/middleware-fp/src/http/RequestResponseHandler.ts
  packages/middleware-fp/src/http/ResponseW.ts
  packages/middleware-fp/src/http/contrib/apiGatewayProxyEventV2Adapter.ts
  packages/middleware-fp/src/http/contrib/fetchAdapter.test.ts
  packages/middleware-fp/src/http/contrib/fetchAdapter.ts
  packages/middleware-fp/src/http/contrib/honoAdapter.test.ts
  packages/middleware-fp/src/http/contrib/honoAdapter.ts
  packages/middleware-fp/src/http/contrib/index.ts
  packages/middleware-fp/src/http/contrib/jsonBodyParser.test.ts
  packages/middleware-fp/src/http/contrib/jsonBodyParser.ts
  packages/middleware-fp/src/http/contrib/standardRequestResponseAdapter.test.ts
  packages/middleware-fp/src/http/contrib/standardRequestResponseAdapter.ts
  packages/middleware-fp/src/lib/utils.test.ts
  packages/middleware-fp/src/lib/utils.ts
  packages/middleware-fp/src/test/unit/kitchen-sink.test.ts
  pnpm-lock.yaml
Due: middleware-fp

Housekeeping: typo
  packages/common-config/scripts/generate-exports-verify.ts
Due: none

Housekeeping: fix incorrect eslint config overrides
  packages/aws-jwt-verify-effect/vitest.config.ts
  packages/middleware-fp/vitest.config.ts
  packages/tiny-event-fp/vitest.config.ts
  packages/tiny-fetch-fp/vitest.config.ts
  packages/tiny-money-fp/vitest.config.ts
  packages/tiny-treecrawler-fp/vitest.config.ts
  packages/tiny-utils-fp/vitest.config.ts
Due: middleware-fp, tiny-event-fp, tiny-treecrawler-fp, tiny-utils-fp

Add build:prod and build:container package scripts
  apps/backend-boilerplate.konker.dev/eslint.config.mjs
  apps/backend-boilerplate.konker.dev/package.json
  apps/backend-boilerplate.konker.dev/tsconfig.json
Due: none

Add namespace to backend-boilerplate k8s deployment
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-deployment.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-ingresroute.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-namespace.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-service.yaml
Due: none

Add cd-backend.boilerplate.konker.dev.yml github workflow
  .github/workflows/cd-backend.boilerplate.konker.dev.yml
Due: none

Housekeeping: move cd gitnhub workflow vars into env
  .github/workflows/cd.yml
Due: none

Bump VERSION to 0.0.2 for backend-boilerplate.konker.dev
  apps/backend-boilerplate.konker.dev/src/api/root/core.test.ts
  apps/backend-boilerplate.konker.dev/src/api/root/handler.test.ts
  apps/backend-boilerplate.konker.dev/src/lib/consts.ts
Due: none

Amend secrets for cd-backend.boilerplate.konker.dev.yml
  .github/workflows/cd-backend.boilerplate.konker.dev.yml
Due: none

Amend github workflow
  .github/workflows/cd-backend.boilerplate.konker.dev.yml
Due: none

Amend github workflow
  .github/workflows/cd-backend.boilerplate.konker.dev.yml
  apps/backend-boilerplate.konker.dev/package.json
Due: none

Amend github workflow
  turbo.json
Due: none

Add image-souce: ecr to backend-boilerplate namespace
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-namespace.yaml
Due: none

Trivial change
  apps/backend-boilerplate.konker.dev/src/api/root/core.test.ts
  apps/backend-boilerplate.konker.dev/src/api/root/core.ts
  apps/backend-boilerplate.konker.dev/src/api/root/handler.test.ts
Due: none

Fix deployment issues
  apps/backend-boilerplate.konker.dev/DEBUGGING.md
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-deployment.yaml
  apps/backend-boilerplate.konker.dev/src/hono/hono-app.ts
  apps/backend-boilerplate.konker.dev/src/hono/hono-node-server.ts
Due: none

Fix for timing issues in backend-boilerplate cd workflow
  .github/workflows/cd-backend.boilerplate.konker.dev.yml
  apps/backend-boilerplate.konker.dev/DEBUGGING.md
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-deployment.yaml
Due: none

Lint
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-deployment.yaml
  apps/backend-boilerplate.konker.dev/src/hono/hono-app.ts
  apps/backend-boilerplate.konker.dev/src/hono/hono-node-server.ts
Due: none

Enable backend-boilerplate health probes
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-deployment.yaml
Due: none

Amend backend-boilerplate github actions for development/production CD
  .github/workflows/cd_backend-boilerplate.development.hetzner.konker.dev.yml
  .github/workflows/cd_backend-boilerplate.hetzner.konker.dev.yml
  apps/backend-boilerplate.konker.dev/deployment/k8s/development/k8s-deployment.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/development/k8s-ingresroute.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/development/k8s-namespace.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/development/k8s-service.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/production/k8s-deployment.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/production/k8s-ingresroute.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/production/k8s-namespace.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/production/k8s-service.yaml
Due: none

Remove redundant files
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-deployment.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-ingresroute.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-namespace.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/k8s-service.yaml
Due: none

Amend backend-boilerplate domain name
  apps/backend-boilerplate.konker.dev/deployment/k8s/development/k8s-ingresroute.yaml
Due: none
