Repository konker/konker.dev: changes, and which Codecov flags are due for each by the changed paths.
All: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

codecov.yaml:

codecov:
  max_report_age: off

# See: https://docs.codecov.com/docs/flags#advanced-bespoke-flag-management
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 100%

# Add Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
  branches:
    - "main"

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  aws-client-effect-dynamodb:
    paths:
      - "packages/aws-client-effect-dynamodb/**"
    carryforward: true

  aws-client-effect-s3:
    paths:
      - "packages/aws-client-effect-s3/**"
    carryforward: true

  aws-client-effect-secrets-manager:
    paths:
      - "packages/aws-client-effect-secrets-manager/**"
    carryforward: true

  aws-client-effect-sns:
    paths:
      - "packages/aws-client-effect-sns/**"
    carryforward: true

  aws-client-effect-sqs:
    paths:
      - "packages/aws-client-effect-sqs/**"
    carryforward: true

  aws-client-effect-ssm:
    paths:
      - "packages/aws-client-effect-ssm/**"
    carryforward: true

  middleware-fp:
    paths:
      - "packages/middleware-fp/**"
    carryforward: true

  momento-cache-client-effect:
    paths:
      - "packages/momento-cache-client-effect/**"
    carryforward: true

  tiny-auth-utils-fp:
    paths:
      - "packages/tiny-auth-utils-fp/**"
    carryforward: true

  tiny-cache-fp:
    paths:
      - "packages/tiny-cache-fp/**"
    carryforward: true

  tiny-error-fp:
    paths:
      - "packages/tiny-error-fp/**"
    carryforward: true

  tiny-event-fp:
    paths:
      - "packages/tiny-event-fp/**"
    carryforward: true

  tiny-filesystem-fp:
    paths:
      - "packages/tiny-filesystem-fp/**"
    carryforward: true

  tiny-rules-fp:
    paths:
      - "packages/tiny-rules-fp/**"
    carryforward: true

  tiny-treecrawler-fp:
    paths:
      - "packages/tiny-treecrawler-fp/**"
    carryforward: true

  tiny-utils-fp:
    paths:
      - "packages/tiny-utils-fp/**"
    carryforward: true

Add fetch-fp package v0.0.1
  codecov.yaml
  packages/fetch-fp/.editorconfig
  packages/fetch-fp/.gitignore
  packages/fetch-fp/.madgerc
  packages/fetch-fp/.nvmrc
  packages/fetch-fp/.prettierrc.mjs
  packages/fetch-fp/LICENSE
  packages/fetch-fp/README.md
  packages/fetch-fp/eslint.config.mjs
  packages/fetch-fp/package.json
  packages/fetch-fp/src/index.test.ts
  packages/fetch-fp/src/index.ts
  packages/fetch-fp/src/middleware/common.ts
  packages/fetch-fp/src/middleware/decode-json-response-body-middleware.test.ts
  packages/fetch-fp/src/middleware/decode-json-response-body-middleware.ts
  packages/fetch-fp/src/middleware/decode-string-response-body-middleware.test.ts
  packages/fetch-fp/src/middleware/decode-string-response-body-middleware.ts
  packages/fetch-fp/src/middleware/encode-json-request-body-middleware.test.ts
  packages/fetch-fp/src/middleware/encode-json-request-body-middleware.ts
  packages/fetch-fp/src/middleware/identity-middleware.test.ts
  packages/fetch-fp/src/middleware/identity-middleware.ts
  packages/fetch-fp/tsconfig.json
  packages/fetch-fp/vitest.config.ts
  pnpm-lock.yaml
Due: none

Add tiny-fetch-fp package v0.0.1
  codecov.yaml
  package.json
  packages/tiny-fetch-fp/.editorconfig
  packages/tiny-fetch-fp/.gitignore
  packages/tiny-fetch-fp/.madgerc
  packages/tiny-fetch-fp/.nvmrc
  packages/tiny-fetch-fp/.prettierrc.mjs
  packages/tiny-fetch-fp/LICENSE
  packages/tiny-fetch-fp/README.md
  packages/tiny-fetch-fp/eslint.config.mjs
  packages/tiny-fetch-fp/package.json
  packages/tiny-fetch-fp/src/index.test.ts
  packages/tiny-fetch-fp/src/index.ts
  packages/tiny-fetch-fp/src/middleware/common.ts
  packages/tiny-fetch-fp/src/middleware/decode-json-response-body-middleware.test.ts
  packages/tiny-fetch-fp/src/middleware/decode-json-response-body-middleware.ts
  packages/tiny-fetch-fp/src/middleware/decode-string-response-body-middleware.test.ts
  packages/tiny-fetch-fp/src/middleware/decode-string-response-body-middleware.ts
  packages/tiny-fetch-fp/src/middleware/encode-json-request-body-middleware.test.ts
  packages/tiny-fetch-fp/src/middleware/encode-json-request-body-middleware.ts
  packages/tiny-fetch-fp/src/middleware/identity-middleware.test.ts
  packages/tiny-fetch-fp/src/middleware/identity-middleware.ts
  packages/tiny-fetch-fp/tsconfig.json
  packages/tiny-fetch-fp/vitest.config.ts
  pnpm-lock.yaml
Due: none

@konker.dev/common-config v0.2.0
  packages/common-config/package.json
Due: none

Add safe publish script to common-config
  packages/common-config/scripts/npm-publish-if-version-not-exists.sh
Due: none

Fix error in common-config cd script
  packages/common-config/package.json
Due: none

Amend all cd scripts to use npm-publish-if-version-not-exists
  packages/aws-client-effect-dynamodb/package.json
  packages/aws-client-effect-s3/package.json
  packages/aws-client-effect-secrets-manager/package.json
  packages/aws-client-effect-sns/package.json
  packages/aws-client-effect-sqs/package.json
  packages/aws-client-effect-ssm/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
Due: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

@konker.dev/common-config v0.2.1
  packages/common-config/package.json
Due: none

Minor amend for consistency to npm-publish-if-version-not-exists.sh
  packages/common-config/scripts/npm-publish-if-version-not-exists.sh
Due: none

Update all packages to use @konker.dev/common-config v0.2.1
  apps/konker.dev/package.json
  packages/aws-client-effect-dynamodb/package.json
  packages/aws-client-effect-s3/package.json
  packages/aws-client-effect-secrets-manager/package.json
  packages/aws-client-effect-sns/package.json
  packages/aws-client-effect-sqs/package.json
  packages/aws-client-effect-ssm/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Optimization for codecov-upload.sh script
  packages/common-config/scripts/codecov-upload.sh
Due: none

@konker.dev/common-config v0.2.2
  packages/common-config/package.json
Due: none

Update all packages to use @konker.dev/common-config v0.2.2
  apps/konker.dev/package.json
  packages/aws-client-effect-dynamodb/package.json
  packages/aws-client-effect-s3/package.json
  packages/aws-client-effect-secrets-manager/package.json
  packages/aws-client-effect-sns/package.json
  packages/aws-client-effect-sqs/package.json
  packages/aws-client-effect-ssm/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Fix for codecov-upload.sh script
  packages/common-config/scripts/codecov-upload.sh
Due: none

@konker.dev/common-config v0.2.3
  packages/common-config/package.json
Due: none

Update all packages to use @konker.dev/common-config v0.2.3
  apps/konker.dev/package.json
  packages/aws-client-effect-dynamodb/package.json
  packages/aws-client-effect-s3/package.json
  packages/aws-client-effect-secrets-manager/package.json
  packages/aws-client-effect-sns/package.json
  packages/aws-client-effect-sqs/package.json
  packages/aws-client-effect-ssm/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

@konker.dev/aws-jwt-verify-effect v0.0.1
  packages/aws-jwt-verify-effect/.editorconfig
  packages/aws-jwt-verify-effect/.gitignore
  packages/aws-jwt-verify-effect/.madgerc
  packages/aws-jwt-verify-effect/.nvmrc
  packages/aws-jwt-verify-effect/.prettierrc.mjs
  packages/aws-jwt-verify-effect/LICENSE
  packages/aws-jwt-verify-effect/README.md
  packages/aws-jwt-verify-effect/eslint.config.mjs
  packages/aws-jwt-verify-effect/package.json
  packages/aws-jwt-verify-effect/src/cognito.test.ts
  packages/aws-jwt-verify-effect/src/cognito.ts
  packages/aws-jwt-verify-effect/src/index.test.ts
  packages/aws-jwt-verify-effect/src/index.ts
  packages/aws-jwt-verify-effect/src/lib/error.test.ts
  packages/aws-jwt-verify-effect/src/lib/error.ts
  packages/aws-jwt-verify-effect/src/test/utils.ts
  packages/aws-jwt-verify-effect/tsconfig.json
  packages/aws-jwt-verify-effect/vitest.config.ts
  pnpm-lock.yaml
Due: none

Update all packages to use vitest v3.0.9
  apps/konker.dev/package.json
  packages/aws-client-effect-dynamodb/package.json
  packages/aws-client-effect-s3/package.json
  packages/aws-client-effect-secrets-manager/package.json
  packages/aws-client-effect-sns/package.json
  packages/aws-client-effect-sqs/package.json
  packages/aws-client-effect-ssm/package.json
  packages/common-config/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Fix test in middleware-fp
  packages/middleware-fp/src/lib/HttpApiError.test.ts
Due: middleware-fp

Update outputs in turbo.json
  turbo.json
Due: none

Add slug to codecov-upload script
  packages/common-config/scripts/codecov-upload.sh
Due: none

@konker.dev/common-config v0.2.4
  packages/common-config/package.json
Due: none

Update all packages to use @konker.dev/common-config v0.2.4
  apps/konker.dev/package.json
  packages/aws-client-effect-dynamodb/package.json
  packages/aws-client-effect-s3/package.json
  packages/aws-client-effect-secrets-manager/package.json
  packages/aws-client-effect-sns/package.json
  packages/aws-client-effect-sqs/package.json
  packages/aws-client-effect-ssm/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Update outdated dependency
  packages/aws-jwt-verify-effect/package.json
  pnpm-lock.yaml
Due: none

Fix cd script in @konker.dev/aws-jwt-verify-effect
  packages/aws-jwt-verify-effect/package.json
Due: none

Add fix for TURBO_SCM_BASE issue
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Re-structure of tiny-cache-fp code for better reuse
  packages/tiny-cache-fp/package.json
  packages/tiny-cache-fp/src/JsonCache.ts
  packages/tiny-cache-fp/src/StrictSerializedCache.ts
  packages/tiny-cache-fp/src/StrictSerializedJsonCache.ts
  packages/tiny-cache-fp/src/memory/InMemoryStrictSerializedCache.test.ts
  packages/tiny-cache-fp/src/memory/InMemoryStrictSerializedCache.ts
  packages/tiny-cache-fp/src/memory/InMemoryStrictSerializedCacheJson.ts
  packages/tiny-cache-fp/src/memory/InMemoryStrictSerializedJsonCache.test.ts
  packages/tiny-cache-fp/src/momento/MomentoStrictSerializedCache.test.ts
  packages/tiny-cache-fp/src/momento/MomentoStrictSerializedCache.ts
  packages/tiny-cache-fp/src/momento/MomentoStrictSerializedCacheJson.ts
  packages/tiny-cache-fp/src/momento/MomentoStrictSerializedJsonCache.test.ts
  packages/tiny-cache-fp/src/momento/MomentoStringCacheJson.ts
  packages/tiny-cache-fp/src/momento/MomentoStringJsonCache.test.ts
Due: tiny-cache-fp

@konker.dev/tiny-cache-fp v0.1.10
  packages/tiny-cache-fp/package.json
Due: tiny-cache-fp

Remove tiny-cache-fp _kind properties
  packages/tiny-cache-fp/src/Cache.ts
  packages/tiny-cache-fp/src/JsonCache.ts
  packages/tiny-cache-fp/src/StrictSerializedCache.ts
  packages/tiny-cache-fp/src/StrictSerializedJsonCache.ts
  packages/tiny-cache-fp/src/index.ts
  packages/tiny-cache-fp/src/lib/helpers.ts
  packages/tiny-cache-fp/src/memory/InMemoryCache.ts
  packages/tiny-cache-fp/src/memory/InMemoryStrictSerializedCache.test.ts
  packages/tiny-cache-fp/src/memory/InMemoryStrictSerializedJsonCache.test.ts
  packages/tiny-cache-fp/src/momento/MomentoStrictSerializedCache.test.ts
  packages/tiny-cache-fp/src/momento/MomentoStrictSerializedJsonCache.test.ts
  packages/tiny-cache-fp/src/momento/MomentoStringCache.ts
  packages/tiny-cache-fp/src/momento/MomentoStringJsonCache.test.ts
Due: tiny-cache-fp

Rename to TinyCache
  packages/tiny-cache-fp/package.json
  packages/tiny-cache-fp/src/JsonCache.ts
  packages/tiny-cache-fp/src/StrictSerializedCache.ts
  packages/tiny-cache-fp/src/StrictSerializedJsonCache.ts
  packages/tiny-cache-fp/src/TinyCache.ts
  packages/tiny-cache-fp/src/index.ts
  packages/tiny-cache-fp/src/lib/helpers.test.ts
  packages/tiny-cache-fp/src/lib/helpers.ts
  packages/tiny-cache-fp/src/memory/InMemoryCache.ts
  packages/tiny-cache-fp/src/memory/InMemoryStrictSerializedCache.test.ts
  packages/tiny-cache-fp/src/memory/InMemoryStrictSerializedJsonCache.test.ts
  packages/tiny-cache-fp/src/momento/MomentoStrictSerializedCache.test.ts
  packages/tiny-cache-fp/src/momento/MomentoStrictSerializedJsonCache.test.ts
  packages/tiny-cache-fp/src/momento/MomentoStringCache.ts
  packages/tiny-cache-fp/src/momento/MomentoStringJsonCache.test.ts
Due: tiny-cache-fp

Update tiny-cache-fp dependents
  packages/middleware-fp/src/contrib/cacheMomento.test.ts
  packages/middleware-fp/src/contrib/cacheMomento.ts
  packages/middleware-fp/src/test/unit/kitchen-sink.test.ts
Due: middleware-fp

@konker.dev/middleware-fp v0.1.10
  packages/middleware-fp/package.json
Due: middleware-fp

Update .nvmrc to v24
  .nvmrc
  apps/konker.dev/.nvmrc
  packages/aws-client-effect-dynamodb/.nvmrc
  packages/aws-client-effect-s3/.nvmrc
  packages/aws-client-effect-secrets-manager/.nvmrc
  packages/aws-client-effect-sns/.nvmrc
  packages/aws-client-effect-sqs/.nvmrc
  packages/aws-client-effect-ssm/.nvmrc
  packages/aws-jwt-verify-effect/.nvmrc
  packages/common-config/.nvmrc
  packages/middleware-fp/.nvmrc
  packages/momento-cache-client-effect/.nvmrc
  packages/tiny-auth-utils-fp/.nvmrc
  packages/tiny-cache-fp/.nvmrc
  packages/tiny-error-fp/.nvmrc
  packages/tiny-event-fp/.nvmrc
  packages/tiny-fetch-fp/.nvmrc
  packages/tiny-filesystem-fp/.nvmrc
  packages/tiny-money-fp/.nvmrc
  packages/tiny-rules-fp/.nvmrc
  packages/tiny-treecrawler-fp/.nvmrc
  packages/tiny-utils-fp/.nvmrc
Due: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Archive aws-client-effect-dynamodb
  archive/aws-client-effect-dynamodb/.editorconfig
  archive/aws-client-effect-dynamodb/.gitignore
  archive/aws-client-effect-dynamodb/.madgerc
  archive/aws-client-effect-dynamodb/.nvmrc
  archive/aws-client-effect-dynamodb/.prettierrc.mjs
  archive/aws-client-effect-dynamodb/LICENSE
  archive/aws-client-effect-dynamodb/README.md
  archive/aws-client-effect-dynamodb/eslint.config.mjs
  archive/aws-client-effect-dynamodb/package.json
  archive/aws-client-effect-dynamodb/src/index.test.ts
  archive/aws-client-effect-dynamodb/src/index.ts
  archive/aws-client-effect-dynamodb/src/lib/client.test.ts
  archive/aws-client-effect-dynamodb/src/lib/client.ts
  archive/aws-client-effect-dynamodb/src/lib/consts.test.ts
  archive/aws-client-effect-dynamodb/src/lib/consts.ts
  archive/aws-client-effect-dynamodb/src/lib/error.test.ts
  archive/aws-client-effect-dynamodb/src/lib/error.ts
  archive/aws-client-effect-dynamodb/src/lib/utils.test.ts
  archive/aws-client-effect-dynamodb/src/lib/utils.ts
  archive/aws-client-effect-dynamodb/tsconfig.json
  archive/aws-client-effect-dynamodb/vitest.config.ts
Due: none

Archive aws-client-effect-secrets-manager
  archive/aws-client-effect-secrets-manager/.editorconfig
  archive/aws-client-effect-secrets-manager/.gitignore
  archive/aws-client-effect-secrets-manager/.madgerc
  archive/aws-client-effect-secrets-manager/.nvmrc
  archive/aws-client-effect-secrets-manager/.prettierrc.mjs
  archive/aws-client-effect-secrets-manager/LICENSE
  archive/aws-client-effect-secrets-manager/README.md
  archive/aws-client-effect-secrets-manager/eslint.config.mjs
  archive/aws-client-effect-secrets-manager/package.json
  archive/aws-client-effect-secrets-manager/src/__snapshots__/index.test.ts.snap
  archive/aws-client-effect-secrets-manager/src/index.test.ts
  archive/aws-client-effect-secrets-manager/src/index.ts
  archive/aws-client-effect-secrets-manager/src/lib/error.test.ts
  archive/aws-client-effect-secrets-manager/src/lib/error.ts
  archive/aws-client-effect-secrets-manager/tsconfig.json
  archive/aws-client-effect-secrets-manager/vitest.config.ts
Due: none

Archive aws-client-effect-sqs
  archive/aws-client-effect-sqs/.editorconfig
  archive/aws-client-effect-sqs/.gitignore
  archive/aws-client-effect-sqs/.madgerc
  archive/aws-client-effect-sqs/.nvmrc
  archive/aws-client-effect-sqs/.prettierrc.mjs
  archive/aws-client-effect-sqs/LICENSE
  archive/aws-client-effect-sqs/README.md
  archive/aws-client-effect-sqs/eslint.config.mjs
  archive/aws-client-effect-sqs/package.json
  archive/aws-client-effect-sqs/src/__snapshots__/index.test.ts.snap
  archive/aws-client-effect-sqs/src/index.test.ts
  archive/aws-client-effect-sqs/src/index.ts
  archive/aws-client-effect-sqs/src/lib/error.test.ts
  archive/aws-client-effect-sqs/src/lib/error.ts
  archive/aws-client-effect-sqs/tsconfig.json
  archive/aws-client-effect-sqs/vitest.config.ts
Due: none

Archive aws-client-effect-sns
  archive/aws-client-effect-sns/.editorconfig
  archive/aws-client-effect-sns/.gitignore
  archive/aws-client-effect-sns/.madgerc
  archive/aws-client-effect-sns/.nvmrc
  archive/aws-client-effect-sns/.prettierrc.mjs
  archive/aws-client-effect-sns/LICENSE
  archive/aws-client-effect-sns/README.md
  archive/aws-client-effect-sns/eslint.config.mjs
  archive/aws-client-effect-sns/package.json
  archive/aws-client-effect-sns/src/__snapshots__/index.test.ts.snap
  archive/aws-client-effect-sns/src/index.test.ts
  archive/aws-client-effect-sns/src/index.ts
  archive/aws-client-effect-sns/src/lib/error.test.ts
  archive/aws-client-effect-sns/src/lib/error.ts
  archive/aws-client-effect-sns/tsconfig.json
  archive/aws-client-effect-sns/vitest.config.ts
Due: none

Archive aws-client-effect-ssm
  archive/aws-client-effect-ssm/.editorconfig
  archive/aws-client-effect-ssm/.gitignore
  archive/aws-client-effect-ssm/.madgerc
  archive/aws-client-effect-ssm/.nvmrc
  archive/aws-client-effect-ssm/.prettierrc.mjs
  archive/aws-client-effect-ssm/LICENSE
  archive/aws-client-effect-ssm/README.md
  archive/aws-client-effect-ssm/eslint.config.mjs
  archive/aws-client-effect-ssm/package.json
  archive/aws-client-effect-ssm/src/__snapshots__/index.test.ts.snap
  archive/aws-client-effect-ssm/src/index.test.ts
  archive/aws-client-effect-ssm/src/index.ts
  archive/aws-client-effect-ssm/src/lib/error.test.ts
  archive/aws-client-effect-ssm/src/lib/error.ts
  archive/aws-client-effect-ssm/tsconfig.json
  archive/aws-client-effect-ssm/vitest.config.ts
  packages/middleware-fp/package.json
  pnpm-lock.yaml
Due: middleware-fp
