Repository konker/konker.dev: changes, and which Codecov flags are due for each by the changed paths.
All: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Fix for deployment
  apps/application-boilerplate.konker.dev/backend/deployment/aws-serverless/sst.config.ts
  apps/application-boilerplate.konker.dev/backend/package.json
  pnpm-lock.yaml
Due: none

Fix for deployment
  .github/workflows/cd_kubernetes_application-boilerplate.development.konker.dev.yml
Due: none

Fix for deployment
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/base/ecr-secret.yaml
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/base/kustomization.yaml
Due: none

Fix for deployment
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/base/ecr-secret.yaml
Due: none

Fix for deployment
  apps/application-boilerplate.konker.dev/backend/bruno/environments/aws-serverless.bru
  apps/application-boilerplate.konker.dev/backend/deployment/cloudflare-serverless/sst.config.ts
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/base/configmap.yaml
Due: none

Fix for deployment
  .github/workflows/cd_kubernetes_application-boilerplate.development.konker.dev.yml
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/migrate-base/externalsecret.yaml
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/migrate-base/job.yaml
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/migrate-base/kustomization.yaml
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/overlays/development/kustomization.yaml
  apps/application-boilerplate.konker.dev/backend/src/database/migrate.ts
  apps/application-boilerplate.konker.dev/backend/tsup.config.ts
Due: none

WIP
  .github/workflows/cd_kubernetes_application-boilerplate.development.konker.dev.yml
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/migrate-base/externalsecret.yaml
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/migrate-base/job.yaml
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/migrate-base/kustomization.yaml
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/overlays/development/kustomization.yaml
  apps/application-boilerplate.konker.dev/backend/src/database/migrate.ts
  apps/application-boilerplate.konker.dev/backend/tsup.config.ts
Due: none

Fix for deployment
  apps/application-boilerplate.konker.dev/backend/bruno/environments/development.bru
  apps/application-boilerplate.konker.dev/backend/bruno/environments/production.bru
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/base/ingressroute.yaml
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/overlays/development/zero-sync-patches.yaml
Due: none

Add workflow for application-boilerplate frontend
  .github/workflows/cd_frontend_application-boilerplate.development.konker.dev.yml
Due: none

Fix for deployment.
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/overlays/development/zero-sync-patches.yaml
  apps/application-boilerplate.konker.dev/backend/deployment/kubernetes/zero-sync-base/externalsecret.yaml
Due: none

Add docs for application-boilerplate
  apps/application-boilerplate.konker.dev/backend/docs/data-flow.md
Due: none

Upates to @konker.dev/neverthrow-r generated docs
  packages/neverthrow-r/docs/reference/async/functions/andTeeAsync.md
  packages/neverthrow-r/docs/reference/async/functions/andThenAsync.md
  packages/neverthrow-r/docs/reference/async/functions/andThroughAsync.md
  packages/neverthrow-r/docs/reference/async/functions/mapAsync.md
  packages/neverthrow-r/docs/reference/async/functions/mapErrAsync.md
  packages/neverthrow-r/docs/reference/async/functions/matchAsync.md
  packages/neverthrow-r/docs/reference/async/functions/orElseAsync.md
  packages/neverthrow-r/docs/reference/async/functions/orTeeAsync.md
  packages/neverthrow-r/docs/reference/bridges/functions/asyncAndThen.md
  packages/neverthrow-r/docs/reference/bridges/functions/asyncAndThrough.md
  packages/neverthrow-r/docs/reference/bridges/functions/asyncMap.md
  packages/neverthrow-r/docs/reference/do/functions/bindAsyncR.md
  packages/neverthrow-r/docs/reference/do/functions/bindR.md
  packages/neverthrow-r/docs/reference/sync/functions/andTee.md
  packages/neverthrow-r/docs/reference/sync/functions/andThen.md
  packages/neverthrow-r/docs/reference/sync/functions/andThrough.md
  packages/neverthrow-r/docs/reference/sync/functions/map.md
  packages/neverthrow-r/docs/reference/sync/functions/mapErr.md
  packages/neverthrow-r/docs/reference/sync/functions/match.md
  packages/neverthrow-r/docs/reference/sync/functions/orElse.md
  packages/neverthrow-r/docs/reference/sync/functions/orTee.md
  packages/neverthrow-r/docs/reference/types/type-aliases/ResultAsyncR.md
  packages/neverthrow-r/docs/reference/types/type-aliases/ResultR.md
  packages/neverthrow-r/package.json
Due: none

Upates to @konker.dev/neverthrow-r-utils generated docs
  packages/neverthrow-r-utils/docs/reference/array/functions/arrayBufferToString.md
  packages/neverthrow-r-utils/docs/reference/array/functions/stringToUint8Array.md
  packages/neverthrow-r-utils/docs/reference/stream/BufferWriteableStream/classes/BufferWriteableStream.md
  packages/neverthrow-r-utils/docs/reference/stream/ChildProcessStreamPipe/classes/ChildProcessStreamPipe.md
  packages/neverthrow-r-utils/docs/reference/stream/PromiseDependentWritableStream/classes/PromiseDependentWritableStream.md
  packages/neverthrow-r-utils/docs/reference/stream/functions/readStreamToBuffer.md
  packages/neverthrow-r-utils/package.json
Due: none

Upates to @konker.dev/neverthrow-r-auth-utils generated docs
  packages/neverthrow-r-auth-utils/docs/reference/functions/basicAuthCredentialMatch.md
  packages/neverthrow-r-auth-utils/docs/reference/functions/basicAuthDecodeHeaderValue.md
  packages/neverthrow-r-auth-utils/docs/reference/functions/basicAuthVerifyCredentials.md
  packages/neverthrow-r-auth-utils/docs/reference/functions/checkJwtPayloadIssSub.md
  packages/neverthrow-r-auth-utils/docs/reference/functions/generateLambdaAuthResult.md
  packages/neverthrow-r-auth-utils/docs/reference/variables/generateLambdaAuthResultAllow.md
  packages/neverthrow-r-auth-utils/docs/reference/variables/generateLambdaAuthResultDeny.md
  packages/neverthrow-r-auth-utils/package.json
Due: none

Upates to @konker.dev/neverthrow-r-schema generated docs
  packages/neverthrow-r-schema/docs/reference/async/functions/andParseAsyncR.md
  packages/neverthrow-r-schema/docs/reference/async/functions/andThenParseAsyncR.md
  packages/neverthrow-r-schema/docs/reference/async/functions/parseAsync.md
  packages/neverthrow-r-schema/docs/reference/common/type-aliases/SchemaOptions.md
  packages/neverthrow-r-schema/docs/reference/common/type-aliases/SchemaValidationError.md
  packages/neverthrow-r-schema/docs/reference/sync/functions/andParse.md
  packages/neverthrow-r-schema/docs/reference/sync/functions/andParseR.md
  packages/neverthrow-r-schema/docs/reference/sync/functions/parse.md
  packages/neverthrow-r-schema/package.json
Due: none

@konker.dev/common-config v0.9.0
  packages/common-config/package.json
Due: none

@konker.dev/common-config v0.10.0
  packages/common-config/configs/tsconfig-base.json
  packages/common-config/package.json
Due: none

Bump package versions
  packages/aws-jwt-verify-effect/package.json
  packages/config-o-tron/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/neverthrow-r-auth-utils/package.json
  packages/neverthrow-r-middleware/package.json
  packages/neverthrow-r-schema/package.json
  packages/neverthrow-r-utils/package.json
  packages/neverthrow-r/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-money-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Upates to @konker.dev/neverthrow-r generated docs
  packages/neverthrow-r/docs/reference/async/functions/andThenAsync.md
  packages/neverthrow-r/docs/reference/async/functions/andThroughAsync.md
  packages/neverthrow-r/docs/reference/async/functions/orElseAsync.md
  packages/neverthrow-r/docs/reference/bridges/functions/asyncAndThen.md
  packages/neverthrow-r/docs/reference/bridges/functions/asyncAndThrough.md
  packages/neverthrow-r/docs/reference/do/functions/bindAsyncR.md
  packages/neverthrow-r/docs/reference/do/functions/bindR.md
  packages/neverthrow-r/docs/reference/sync/functions/andThen.md
  packages/neverthrow-r/docs/reference/sync/functions/andThrough.md
  packages/neverthrow-r/docs/reference/sync/functions/orElse.md
  packages/neverthrow-r/package.json
Due: none

Upates to @konker.dev/neverthrow-r-utils generated docs
  packages/neverthrow-r-utils/docs/reference/stream/ChildProcessStreamPipe/classes/ChildProcessStreamPipe.md
  packages/neverthrow-r-utils/docs/reference/stream/PromiseDependentWritableStream/classes/PromiseDependentWritableStream.md
  packages/neverthrow-r-utils/package.json
Due: none

Upates to @konker.dev/neverthrow-r-schema generated docs
  packages/neverthrow-r-schema/docs/reference/async/functions/andParseAsyncR.md
  packages/neverthrow-r-schema/docs/reference/async/functions/andThenParseAsyncR.md
  packages/neverthrow-r-schema/docs/reference/sync/functions/andParse.md
  packages/neverthrow-r-schema/docs/reference/sync/functions/andParseR.md
  packages/neverthrow-r-schema/package.json
Due: none

Bump package versions
  packages/aws-jwt-verify-effect/package.json
  packages/config-o-tron/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/neverthrow-r-auth-utils/package.json
  packages/neverthrow-r-middleware/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-money-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Rename of module for consistency
  apps/application-boilerplate.konker.dev/backend/package.json
  apps/application-boilerplate.konker.dev/backend/src/api/zero/handler.ts
  apps/application-boilerplate.konker.dev/backend/src/zero/db.ts
  apps/application-boilerplate.konker.dev/backend/src/zero/server-mutators.ts
  apps/application-boilerplate.konker.dev/frontend/package.json
  apps/application-boilerplate.konker.dev/frontend/src/App.tsx
  apps/application-boilerplate.konker.dev/zerosync/package.json
  pnpm-lock.yaml
Due: none

Remove config-o-tron
  .github/workflows/cd_aws_serverless_application-boilerplate.development.konker.dev.yml
  apps/application-boilerplate.konker.dev/backend/config-o-tronrc.json
  apps/application-boilerplate.konker.dev/backend/package.json
  apps/application-boilerplate.konker.dev/backend/src/config/config-o-tron.schema.ts
  pnpm-lock.yaml
Due: none

Add drizzle-zero to application-boilerplate
  .claude/settings.local.json
  .github/workflows/cd_frontend_application-boilerplate.development.konker.dev.yml
  .github/workflows/cd_kubernetes_application-boilerplate.development.konker.dev.yml
  apps/application-boilerplate.konker.dev/backend/.prettierignore
  apps/application-boilerplate.konker.dev/backend/eslint.config.mjs
  apps/application-boilerplate.konker.dev/backend/package.json
  apps/application-boilerplate.konker.dev/backend/src/api/zero/db.ts
  apps/application-boilerplate.konker.dev/backend/src/api/zero/handler.ts
  apps/application-boilerplate.konker.dev/backend/src/api/zero/server-mutators.ts
  apps/application-boilerplate.konker.dev/backend/src/config/drizzle-zero.config.ts
  apps/application-boilerplate.konker.dev/backend/src/zero-sync/auth.ts
  apps/application-boilerplate.konker.dev/backend/src/zero-sync/index.ts
  apps/application-boilerplate.konker.dev/backend/src/zero-sync/mutators.ts
  apps/application-boilerplate.konker.dev/backend/src/zero-sync/queries.ts
  apps/application-boilerplate.konker.dev/backend/src/zero-sync/schema.gen.ts
  apps/application-boilerplate.konker.dev/backend/src/zero-sync/schema.ts
  apps/application-boilerplate.konker.dev/frontend/package.json
  apps/application-boilerplate.konker.dev/frontend/src/App.tsx
  apps/application-boilerplate.konker.dev/zerosync/.gitignore
  apps/application-boilerplate.konker.dev/zerosync/.prettierignore
  apps/application-boilerplate.konker.dev/zerosync/.prettierrc.mjs
  apps/application-boilerplate.konker.dev/zerosync/eslint.config.mjs
  apps/application-boilerplate.konker.dev/zerosync/package.json
  apps/application-boilerplate.konker.dev/zerosync/tsconfig.json
  pnpm-lock.yaml
Due: none

Add headerValueAuthorizer middleware
  packages/middleware-fp/package.json
  packages/middleware-fp/src/http/contrib/headerValueAuthorizer/index.test.ts
  packages/middleware-fp/src/http/contrib/headerValueAuthorizer/index.ts
  packages/middleware-fp/src/http/contrib/headerValueAuthorizer/lib.test.ts
  packages/middleware-fp/src/http/contrib/headerValueAuthorizer/lib.ts
  packages/middleware-fp/src/http/contrib/index.ts
Due: middleware-fp

Tighten jwtAuthenticator middleware type
  packages/middleware-fp/src/http/contrib/jwtAuthenticator.ts
Due: middleware-fp

@konker.dev/middleware-fp v0.13.0
  packages/middleware-fp/package.json
Due: middleware-fp

Improve middleware-fp error messages
  packages/middleware-fp/src/http/contrib/jwtAuthenticator.test.ts
  packages/middleware-fp/src/http/contrib/jwtAuthenticator.ts
  packages/middleware-fp/src/http/contrib/jwtAuthenticatorRsa.test.ts
  packages/middleware-fp/src/http/contrib/jwtAuthenticatorRsa.ts
Due: middleware-fp

@konker.dev/tiny-auth-utils-fp v0.4.0
  packages/tiny-auth-utils-fp/package.json
Due: tiny-auth-utils-fp

Improve tiny-auth-utils-fp error messages
  packages/tiny-auth-utils-fp/src/jwt/common.ts
  packages/tiny-auth-utils-fp/src/jwt/index.test.ts
  packages/tiny-auth-utils-fp/src/jwt/index.ts
  packages/tiny-auth-utils-fp/src/jwt/rsa.test.ts
  packages/tiny-auth-utils-fp/src/jwt/rsa.ts
Due: tiny-auth-utils-fp

Fix for error in import interop
  packages/neverthrow-r-auth-utils/docs/reference/functions/jwtDecodeToken.md
  packages/neverthrow-r-auth-utils/docs/reference/functions/jwtSignToken.md
  packages/neverthrow-r-auth-utils/docs/reference/functions/jwtSignTokenRsa.md
  packages/neverthrow-r-auth-utils/docs/reference/functions/jwtVerifyToken.md
  packages/neverthrow-r-auth-utils/docs/reference/functions/jwtVerifyTokenRsa.md
  packages/neverthrow-r-auth-utils/docs/reference/type-aliases/JwtSigningConfig.md
  packages/neverthrow-r-auth-utils/docs/reference/type-aliases/JwtSigningConfigRsa.md
  packages/neverthrow-r-auth-utils/docs/reference/type-aliases/JwtVerificationConfig.md
  packages/neverthrow-r-auth-utils/docs/reference/type-aliases/JwtVerificationConfigRsa.md
  packages/neverthrow-r-auth-utils/src/jwt/index.ts
  packages/neverthrow-r-auth-utils/src/jwt/rsa.ts
Due: none

Implement zero-query and zero-mutate as Effect based endpoints
  apps/application-boilerplate.konker.dev/backend/package.json
  apps/application-boilerplate.konker.dev/backend/src/api/zero-mutate/core.test.ts
  apps/application-boilerplate.konker.dev/backend/src/api/zero-mutate/core.ts
  apps/application-boilerplate.konker.dev/backend/src/api/zero-mutate/handler.ts
  apps/application-boilerplate.konker.dev/backend/src/api/zero-query/core.test.ts
  apps/application-boilerplate.konker.dev/backend/src/api/zero-query/core.ts
  apps/application-boilerplate.konker.dev/backend/src/api/zero-query/handler.ts
  apps/application-boilerplate.konker.dev/backend/src/api/zero/handler.ts
  apps/application-boilerplate.konker.dev/backend/src/deps/jwtAuth.ts
  apps/application-boilerplate.konker.dev/backend/src/deps/layerLive.ts
  apps/application-boilerplate.konker.dev/backend/src/deps/layerTest.ts
  apps/application-boilerplate.konker.dev/backend/src/hono/hono-app.ts
  pnpm-lock.yaml
Due: none

@konker.dev/neverthrow-r-auth-utils v0.2.0
  packages/neverthrow-r-auth-utils/package.json
Due: none

Path conditions:
  aws-client-effect-dynamodb: any of: packages/aws-client-effect-dynamodb/**
  aws-client-effect-s3: any of: packages/aws-client-effect-s3/**
  aws-client-effect-secrets-manager: any of: packages/aws-client-effect-secrets-manager/**
  aws-client-effect-sns: any of: packages/aws-client-effect-sns/**
  aws-client-effect-sqs: any of: packages/aws-client-effect-sqs/**
  aws-client-effect-ssm: any of: packages/aws-client-effect-ssm/**
  middleware-fp: any of: packages/middleware-fp/**
  momento-cache-client-effect: any of: packages/momento-cache-client-effect/**
  tiny-auth-utils-fp: any of: packages/tiny-auth-utils-fp/**
  tiny-cache-fp: any of: packages/tiny-cache-fp/**
  tiny-error-fp: any of: packages/tiny-error-fp/**
  tiny-event-fp: any of: packages/tiny-event-fp/**
  tiny-filesystem-fp: any of: packages/tiny-filesystem-fp/**
  tiny-rules-fp: any of: packages/tiny-rules-fp/**
  tiny-treecrawler-fp: any of: packages/tiny-treecrawler-fp/**
  tiny-utils-fp: any of: packages/tiny-utils-fp/**
