Repository konker/konker.dev: changes, and which Codecov flags are due for each by the changed paths.
All: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

codecov.yaml:

codecov:
  max_report_age: off

# See: https://docs.codecov.com/docs/flags#advanced-bespoke-flag-management
# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 100%

# Add Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
  branches:
    - "main"

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  aws-client-effect-dynamodb:
    paths:
      - "packages/aws-client-effect-dynamodb/**"
    carryforward: true

  aws-client-effect-s3:
    paths:
      - "packages/aws-client-effect-s3/**"
    carryforward: true

  aws-client-effect-secrets-manager:
    paths:
      - "packages/aws-client-effect-secrets-manager/**"
    carryforward: true

  aws-client-effect-sns:
    paths:
      - "packages/aws-client-effect-sns/**"
    carryforward: true

  aws-client-effect-sqs:
    paths:
      - "packages/aws-client-effect-sqs/**"
    carryforward: true

  aws-client-effect-ssm:
    paths:
      - "packages/aws-client-effect-ssm/**"
    carryforward: true

  middleware-fp:
    paths:
      - "packages/middleware-fp/**"
    carryforward: true

  momento-cache-client-effect:
    paths:
      - "packages/momento-cache-client-effect/**"
    carryforward: true

  tiny-auth-utils-fp:
    paths:
      - "packages/tiny-auth-utils-fp/**"
    carryforward: true

  tiny-cache-fp:
    paths:
      - "packages/tiny-cache-fp/**"
    carryforward: true

  tiny-error-fp:
    paths:
      - "packages/tiny-error-fp/**"
    carryforward: true

  tiny-event-fp:
    paths:
      - "packages/tiny-event-fp/**"
    carryforward: true

  tiny-filesystem-fp:
    paths:
      - "packages/tiny-filesystem-fp/**"
    carryforward: true

  tiny-rules-fp:
    paths:
      - "packages/tiny-rules-fp/**"
    carryforward: true

  tiny-treecrawler-fp:
    paths:
      - "packages/tiny-treecrawler-fp/**"
    carryforward: true

  tiny-utils-fp:
    paths:
      - "packages/tiny-utils-fp/**"
    carryforward: true

Update deprecated dependencies
  apps/konker.dev/package.json
  packages/aws-client-effect-s3/package.json
  packages/aws-jwt-verify-effect/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-money-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: aws-client-effect-s3, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Update obsolete dependency
  packages/middleware-fp/package.json
  pnpm-lock.yaml
Due: middleware-fp

Update dependencies
  packages/aws-client-effect-s3/package.json
  packages/aws-jwt-verify-effect/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-money-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: aws-client-effect-s3, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Update dependencies and node version to v24
  apps/konker.dev/DESIGN.md
  apps/konker.dev/package.json
  packages/aws-client-effect-s3/package.json
  packages/aws-client-effect-s3/src/index.ts
  packages/aws-jwt-verify-effect/package.json
  packages/aws-jwt-verify-effect/src/cognito.test.ts
  packages/aws-jwt-verify-effect/src/index.test.ts
  packages/common-config/package.json
  packages/middleware-fp/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-event-fp/src/index.ts
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-filesystem-fp/src/index.ts
  packages/tiny-filesystem-fp/src/lib/array.ts
  packages/tiny-filesystem-fp/src/memfs/index.test.ts
  packages/tiny-filesystem-fp/src/memfs/index.ts
  packages/tiny-filesystem-fp/src/node/index.test.ts
  packages/tiny-filesystem-fp/src/node/index.ts
  packages/tiny-filesystem-fp/src/s3/index.test.ts
  packages/tiny-filesystem-fp/src/s3/index.ts
  packages/tiny-money-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-treecrawler-fp/src/index.ts
  packages/tiny-utils-fp/package.json
  packages/tiny-utils-fp/src/array.test.ts
  packages/tiny-utils-fp/src/array.ts
  pnpm-lock.yaml
Due: aws-client-effect-s3, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

@konker.dev/aws-client-effect-s3 v0.1.10
  packages/aws-client-effect-s3/package.json
Due: aws-client-effect-s3

@konker.dev/aws-jwt-verify-effect v0.0.2
  packages/aws-jwt-verify-effect/package.json
Due: none

@konker.dev/common-config v0.2.5
  packages/common-config/package.json
Due: none

@konker.dev/konker.dev v0.0.2
  apps/konker.dev/package.json
Due: none

@konker.dev/middleware-fp v0.1.11
  packages/middleware-fp/package.json
Due: middleware-fp

@konker.dev/tiny-cache-fp v0.1.11
  packages/tiny-cache-fp/package.json
Due: tiny-cache-fp

@konker.dev/tiny-treecrawler-fp v0.1.10
  packages/tiny-treecrawler-fp/package.json
Due: tiny-treecrawler-fp

@konker.dev/tiny-utils-fp v0.1.10
  packages/tiny-utils-fp/package.json
Due: tiny-utils-fp

@konker.dev/tiny-fetch-fp v0.0.2
  packages/tiny-fetch-fp/package.json
Due: none

@konker.dev/tiny-auth-utils-fp v0.1.10
  packages/tiny-auth-utils-fp/package.json
Due: tiny-auth-utils-fp

@konker.dev/tiny-rules-fp v0.1.10
  packages/tiny-rules-fp/package.json
Due: tiny-rules-fp

@konker.dev/tiny-error-fp v0.1.10
  packages/tiny-error-fp/package.json
Due: tiny-error-fp

@konker.dev/tiny-filesystem-fp v0.1.10
  packages/tiny-filesystem-fp/package.json
Due: tiny-filesystem-fp

@konker.dev/tiny-event-fp v0.1.10
  packages/tiny-event-fp/package.json
Due: tiny-event-fp

@konker.dev/tiny-money-fp v0.0.2
  packages/tiny-money-fp/package.json
Due: none

@konker.dev/momento-cache-client-effect v0.1.10
  packages/momento-cache-client-effect/package.json
Due: momento-cache-client-effect

Add PromiseDependentWritableStream to @konker.dev/tiny-utils-fp
  packages/tiny-utils-fp/package.json
  packages/tiny-utils-fp/src/stream/PromiseDependentWritableStream.test.ts
  packages/tiny-utils-fp/src/stream/PromiseDependentWritableStream.ts
Due: tiny-utils-fp

@konker.dev/tiny-utils-fp v0.1.11
  packages/tiny-utils-fp/package.json
Due: tiny-utils-fp

Remove dependence on @konker.dev/aws-client-effect-s3
  archive/aws-client-effect-s3/.editorconfig
  archive/aws-client-effect-s3/.gitignore
  archive/aws-client-effect-s3/.madgerc
  archive/aws-client-effect-s3/.nvmrc
  archive/aws-client-effect-s3/.prettierrc.mjs
  archive/aws-client-effect-s3/LICENSE
  archive/aws-client-effect-s3/README.md
  archive/aws-client-effect-s3/eslint.config.mjs
  archive/aws-client-effect-s3/package.json
  archive/aws-client-effect-s3/src/__snapshots__/index.test.ts.snap
  archive/aws-client-effect-s3/src/extra.test.ts
  archive/aws-client-effect-s3/src/extra.ts
  archive/aws-client-effect-s3/src/index.test.ts
  archive/aws-client-effect-s3/src/index.ts
  archive/aws-client-effect-s3/src/lib/PromiseDependentWritableStream.test.ts
  archive/aws-client-effect-s3/src/lib/PromiseDependentWritableStream.ts
  archive/aws-client-effect-s3/src/lib/error.test.ts
  archive/aws-client-effect-s3/src/lib/error.ts
  archive/aws-client-effect-s3/src/lib/utils.test.ts
  archive/aws-client-effect-s3/src/lib/utils.ts
  archive/aws-client-effect-s3/tsconfig.json
  archive/aws-client-effect-s3/vitest.config.ts
  packages/tiny-filesystem-fp/package.json
  packages/tiny-filesystem-fp/src/s3/index.test.ts
  packages/tiny-filesystem-fp/src/s3/index.ts
  packages/tiny-filesystem-fp/src/s3/utils.test.ts
  packages/tiny-filesystem-fp/src/s3/utils.ts
  packages/tiny-filesystem-fp/src/test/setup.ts
  packages/tiny-filesystem-fp/src/test/vitest.d.ts
  packages/tiny-filesystem-fp/vitest.config.ts
  pnpm-lock.yaml
Due: tiny-filesystem-fp

@konker.dev/tiny-filesystem-fp v0.1.11
  packages/tiny-filesystem-fp/package.json
Due: tiny-filesystem-fp

Fix broken dependency
  packages/tiny-filesystem-fp/package.json
Due: tiny-filesystem-fp

Fix broken dependency
  packages/tiny-filesystem-fp/package.json
  pnpm-lock.yaml
Due: tiny-filesystem-fp

Echo out expected value on error for generate-exports-verify
  packages/common-config/scripts/generate-exports-verify.ts
Due: none

@konker.dev/common-config v0.2.6
  packages/common-config/package.json
Due: none

Initial setup for backend-boilerplate
  apps/backend-boilerplate.konker.dev/.editorconfig
  apps/backend-boilerplate.konker.dev/.gitignore
  apps/backend-boilerplate.konker.dev/.madgerc
  apps/backend-boilerplate.konker.dev/.nvmrc
  apps/backend-boilerplate.konker.dev/.prettierrc.mjs
  apps/backend-boilerplate.konker.dev/LICENSE
  apps/backend-boilerplate.konker.dev/README.md
  apps/backend-boilerplate.konker.dev/eslint.config.mjs
  apps/backend-boilerplate.konker.dev/package.json
  apps/backend-boilerplate.konker.dev/src/index.test.ts
  apps/backend-boilerplate.konker.dev/src/index.ts
  apps/backend-boilerplate.konker.dev/tsconfig.json
  apps/backend-boilerplate.konker.dev/vitest.config.ts
  apps/konker.dev/README.md
  pnpm-lock.yaml
Due: none

@konker.dev/middleware-fp v0.2.0
  packages/middleware-fp/package.json
Due: middleware-fp

Amend middleware to allow for different Request/Response adapters
  packages/middleware-fp/package.json
  packages/middleware-fp/src/http/contrib/apiGatewayProxyEventV2Adapter.test.ts
  packages/middleware-fp/src/http/contrib/apiGatewayProxyEventV2Adapter.ts
  packages/middleware-fp/src/http/contrib/base64BodyDecoder.test.ts
  packages/middleware-fp/src/http/contrib/basicAuthAuthenticator.test.ts
  packages/middleware-fp/src/http/contrib/basicAuthDecoder.test.ts
  packages/middleware-fp/src/http/contrib/bodyValidator.test.ts
  packages/middleware-fp/src/http/contrib/cacheInMemory.test.ts
  packages/middleware-fp/src/http/contrib/cacheMomento.test.ts
  packages/middleware-fp/src/http/contrib/envValidator.test.ts
  packages/middleware-fp/src/http/contrib/headerSignatureAuthorizer/index.test.ts
  packages/middleware-fp/src/http/contrib/headersNormalizer/index.test.ts
  packages/middleware-fp/src/http/contrib/headersValidator.test.ts
  packages/middleware-fp/src/http/contrib/identity.test.ts
  packages/middleware-fp/src/http/contrib/jsonBodyParser.test.ts
  packages/middleware-fp/src/http/contrib/jwtAuthenticator.test.ts
  packages/middleware-fp/src/http/contrib/jwtAuthenticatorRsa.test.ts
  packages/middleware-fp/src/http/contrib/jwtDecoder.test.ts
  packages/middleware-fp/src/http/contrib/momentoClientInit.test.ts
  packages/middleware-fp/src/http/contrib/pathParametersValidator.test.ts
  packages/middleware-fp/src/http/contrib/pathTokenAuthorizer.test.ts
  packages/middleware-fp/src/http/contrib/queryStringValidator.test.ts
  packages/middleware-fp/src/http/contrib/standardRequestResponseAdapter.test.ts
  packages/middleware-fp/src/http/contrib/standardRequestResponseAdapter.ts
  packages/middleware-fp/src/http/contrib/trivial.test.ts
  packages/middleware-fp/src/http/request.test.ts
  packages/middleware-fp/src/http/request.ts
  packages/middleware-fp/src/test/fixtures/apiGatewayProxyEventV2-allUndefined.ts
  packages/middleware-fp/src/test/fixtures/apiGatewayProxyEventV2-complete.ts
  packages/middleware-fp/src/test/fixtures/apiGatewayProxyEventV2-endToEnd.ts
  packages/middleware-fp/src/test/fixtures/apiGatewayProxyEventV2-withUndefined.ts
  packages/middleware-fp/src/test/unit/basic-1.test.ts
  packages/middleware-fp/src/test/unit/basic-2.test.ts
  packages/middleware-fp/src/test/unit/basic-3.test.ts
  packages/middleware-fp/src/test/unit/kitchen-sink.test.ts
Due: middleware-fp

Add JSON5 support to eslint.config-base.mjs
  packages/common-config/configs/eslint.config-base.mjs
  packages/common-config/package.json
  pnpm-lock.yaml
Due: none

@konker.dev/common-config v0.3.0
  packages/common-config/package.json
Due: none

Amend json5 eslint config
  packages/common-config/configs/eslint.config-base.mjs
Due: none

@konker.dev/common-config v0.4.0
  packages/common-config/package.json
Due: none

Add a separate eslint base config for JSON5
  packages/common-config/configs/eslint.config-base.json.mjs
  packages/common-config/configs/eslint.config-base.mjs
Due: none

@konker.dev/common-config v0.5.0
  packages/common-config/package.json
Due: none

Fix missing exports in @konker.dev/middleware-fp
  packages/middleware-fp/src/http/contrib/index.ts
Due: middleware-fp

@konker.dev/middleware-fp v0.3.0
  packages/middleware-fp/package.json
Due: middleware-fp
