Repository konker/konker.dev: changes, and which Codecov flags are due for each by the changed paths.
All: aws-client-effect-dynamodb, aws-client-effect-s3, aws-client-effect-secrets-manager, aws-client-effect-sns, aws-client-effect-sqs, aws-client-effect-ssm, middleware-fp, momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

Fix errors in deployment specs
  .github/workflows/cd_kubernetes_backend-boilerplate.development.konker.dev.yml
  apps/backend-boilerplate.konker.dev/deployment/kubernetes/sst.config.ts
  apps/backend-boilerplate.konker.dev/package.json
  pnpm-lock.yaml
Due: none

Delete handler test (for now at least)
  apps/backend-boilerplate.konker.dev/src/api/root/handler.test.ts
Due: none

Checkpoint WIP
  apps/backend-boilerplate.konker.dev/bruno/environments/aws-serverless.bru
  apps/backend-boilerplate.konker.dev/bruno/environments/local.bru
  apps/backend-boilerplate.konker.dev/bruno/ping.bru
  apps/backend-boilerplate.konker.dev/deployment/aws-serverless/sst.config.ts
  apps/backend-boilerplate.konker.dev/deployment/k8s/development/k8s-deployment.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/development/k8s-ingresroute.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/development/k8s-namespace.yaml
  apps/backend-boilerplate.konker.dev/deployment/k8s/development/k8s-service.yaml
  apps/backend-boilerplate.konker.dev/package.json
Due: none

Housekeeping: update and dedupe deps
  apps/auth.konker.dev/package.json
  apps/konker.dev/package.json
  package.json
  packages/aws-jwt-verify-effect/package.json
  packages/common-config/package.json
  packages/config-o-tron/package.json
  packages/momento-cache-client-effect/package.json
  packages/tiny-auth-utils-fp/package.json
  packages/tiny-cache-fp/package.json
  packages/tiny-error-fp/package.json
  packages/tiny-event-fp/package.json
  packages/tiny-fetch-fp/package.json
  packages/tiny-filesystem-fp/package.json
  packages/tiny-money-fp/package.json
  packages/tiny-rules-fp/package.json
  packages/tiny-treecrawler-fp/package.json
  packages/tiny-utils-fp/package.json
  pnpm-lock.yaml
Due: momento-cache-client-effect, tiny-auth-utils-fp, tiny-cache-fp, tiny-error-fp, tiny-event-fp, tiny-filesystem-fp, tiny-rules-fp, tiny-treecrawler-fp, tiny-utils-fp

@konker.dev/config-o-tron v0.0.2
  packages/config-o-tron/src/lib/format.test.ts
  packages/config-o-tron/src/lib/format.ts
  pnpm-lock.yaml
Due: none

Working DB access with self-signed SSL
  apps/backend-boilerplate.konker.dev/bruno/environments/aws-serverless.bru
  apps/backend-boilerplate.konker.dev/deployment/aws-container/sst.config.ts
  apps/backend-boilerplate.konker.dev/deployment/aws-serverless/sst.config.ts
  apps/backend-boilerplate.konker.dev/deployment/cloudflare-serverless/sst.config.ts
  apps/backend-boilerplate.konker.dev/package.json
  apps/backend-boilerplate.konker.dev/src/api/root/core.ts
  apps/backend-boilerplate.konker.dev/src/config/config-o-tron.schema.ts
  apps/backend-boilerplate.konker.dev/src/config/env.schema.ts
Due: none

Fix tests
  apps/backend-boilerplate.konker.dev/src/api/root/core.test.ts
  apps/backend-boilerplate.konker.dev/src/api/root/core.ts
Due: none

@konker.dev/middleware-fp v0.6.0
  packages/middleware-fp/package.json
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/index.ts
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/lib.test.ts
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/lib.ts
Due: middleware-fp

Fix errors in deployment specs
  .github/workflows/cd_kubernetes_backend-boilerplate.development.konker.dev.yml
  apps/backend-boilerplate.konker.dev/deployment/kubernetes/sst.config.ts
  apps/backend-boilerplate.konker.dev/package.json
  apps/backend-boilerplate.konker.dev/src/api/root/core.test.ts
  apps/backend-boilerplate.konker.dev/src/api/root/core.ts
  apps/backend-boilerplate.konker.dev/src/config/config-o-tron.schema.ts
  packages/middleware-fp/package.json
  pnpm-lock.yaml
Due: middleware-fp

Add support for ca bundle to sqlClientInitPg
  packages/middleware-fp/package.json
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/fixtures/test-ca-bundle.pem
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/index.test.ts
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/index.ts
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/lib.test.ts
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/lib.ts
  pnpm-lock.yaml
Due: middleware-fp

@konker.dev/middleware-fp v0.9.0
  packages/middleware-fp/package.json
Due: middleware-fp

Amend backend-boilerplate for middleware changes
  apps/backend-boilerplate.konker.dev/package.json
  apps/backend-boilerplate.konker.dev/src/api/root/core.test.ts
  apps/backend-boilerplate.konker.dev/src/api/root/handler.ts
  apps/backend-boilerplate.konker.dev/src/config/eu-west-1-bundle.pem
  pnpm-lock.yaml
Due: none

Add checkServerIdentity param
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/index.test.ts
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/index.ts
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/lib.test.ts
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/lib.ts
Due: middleware-fp

@konker.dev/middleware-fp v0.10.0
  packages/middleware-fp/package.json
Due: middleware-fp

Add ca bundle to abckend boilerplate
  apps/backend-boilerplate.konker.dev/src/api/root/core.test.ts
  apps/backend-boilerplate.konker.dev/src/api/root/handler.ts
Due: none

Add tsup to backend-boilerplate
  apps/backend-boilerplate.konker.dev/eslint.config.mjs
  apps/backend-boilerplate.konker.dev/package.json
  apps/backend-boilerplate.konker.dev/tsup.config.ts
  pnpm-lock.yaml
Due: none

Amend HttpApiError and MiddlewareError to use Effect TaggedError
  packages/middleware-fp/package.json
  packages/middleware-fp/src/http/HttpApiError.test.ts
  packages/middleware-fp/src/http/HttpApiError.ts
  packages/middleware-fp/src/http/contrib/basicAuthAuthenticator.ts
  packages/middleware-fp/src/http/contrib/headerSignatureAuthorizer/index.ts
  packages/middleware-fp/src/http/contrib/jwtAuthenticator.ts
  packages/middleware-fp/src/http/contrib/jwtAuthenticatorRsa.ts
  packages/middleware-fp/src/http/contrib/jwtDecoder.ts
  packages/middleware-fp/src/http/contrib/pathTokenAuthorizer.test.ts
  packages/middleware-fp/src/http/contrib/pathTokenAuthorizer.ts
  packages/middleware-fp/src/http/contrib/responseProcessor.test.ts
  packages/middleware-fp/src/http/contrib/responseProcessor.ts
  packages/middleware-fp/src/lib/MiddlewareError.test.ts
  packages/middleware-fp/src/lib/MiddlewareError.ts
  pnpm-lock.yaml
Due: middleware-fp

@konker.dev/middleware-fp v0.11.0
  packages/middleware-fp/package.json
Due: middleware-fp

Add otel spans to backend-boilerplate endpoint
  apps/backend-boilerplate.konker.dev/src/api/root/core.ts
Due: none

Add basicAuthEncodeHeaderValue function to tiny-auth-utils-fp
  packages/tiny-auth-utils-fp/src/basic-auth.test.ts
  packages/tiny-auth-utils-fp/src/basic-auth.ts
Due: tiny-auth-utils-fp

@konker.dev/tiny-auth-utils v0.2.0
  packages/tiny-auth-utils-fp/package.json
Due: tiny-auth-utils-fp

Middleware WIP
  packages/middleware-fp/package.json
  packages/middleware-fp/src/http/contrib/index.ts
  packages/middleware-fp/src/http/contrib/otelTraceExporterInit/index.ktest.ts
  packages/middleware-fp/src/http/contrib/otelTraceExporterInit/index.ts
  packages/middleware-fp/src/http/contrib/otelTraceExporterInit/lib.ts
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/index.test.ts
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/index.ts
  packages/middleware-fp/vitest.config.ts
Due: middleware-fp

Backend WIP
  apps/backend-boilerplate.konker.dev/package.json
  apps/backend-boilerplate.konker.dev/src/api/root/handler.ts
  apps/backend-boilerplate.konker.dev/src/config/config-o-tron.schema.ts
  apps/backend-boilerplate.konker.dev/src/config/env.schema.ts
  pnpm-lock.yaml
Due: none

WIP 2
  apps/backend-boilerplate.konker.dev/bruno/environments/local.bru
  apps/backend-boilerplate.konker.dev/src/api/root/core.ts
  apps/backend-boilerplate.konker.dev/src/hono/hono-node-server.ts
Due: none

WIP 3
  apps/backend-boilerplate.konker.dev/src/hono/hono-node-server.ts
Due: none

WIP 4
  apps/backend-boilerplate.konker.dev/bruno/environments/local.bru
  apps/backend-boilerplate.konker.dev/src/config/env.schema.ts
Due: none

WIP 5
  apps/backend-boilerplate.konker.dev/bruno/environments/aws-serverless.bru
  apps/backend-boilerplate.konker.dev/deployment/aws-serverless/sst.config.ts
  apps/backend-boilerplate.konker.dev/src/api/root/core.ts
  apps/backend-boilerplate.konker.dev/src/config/config-o-tron.schema.ts
  apps/backend-boilerplate.konker.dev/src/config/env.schema.ts
  packages/middleware-fp/src/http/contrib/otelTraceExporterInit/index.ts
Due: middleware-fp

WIP 6
  apps/backend-boilerplate.konker.dev/deployment/aws-container/sst.config.ts
  apps/backend-boilerplate.konker.dev/deployment/aws-serverless/sst.config.ts
  apps/backend-boilerplate.konker.dev/deployment/cloudflare-serverless/sst.config.ts
  apps/backend-boilerplate.konker.dev/deployment/kubernetes/sst.config.ts
Due: none

WIP 7
  apps/backend-boilerplate.konker.dev/deployment/kubernetes/sst.config.ts
Due: none

WIP 8
  apps/backend-boilerplate.konker.dev/src/api/root/handler.ts
Due: none

Tweak to sqlCLientInitPg logging
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/index.ts
Due: middleware-fp

WIP 9
  apps/backend-boilerplate.konker.dev/src/api/root/core.test.ts
  apps/backend-boilerplate.konker.dev/src/api/root/core.ts
Due: none

WIP 10
  packages/middleware-fp/src/http/contrib/otelTraceExporterInit/index.ts
  packages/middleware-fp/src/http/contrib/otelTraceExporterInit/lib.ts
Due: middleware-fp

WIP 11
  packages/middleware-fp/src/http/contrib/otelTraceExporterInit/index.ts
Due: middleware-fp

WIP 12
  packages/middleware-fp/src/http/contrib/otelTraceExporterInit/index.ts
Due: middleware-fp

WIP 13
  packages/middleware-fp/src/http/contrib/otelTraceExporterInit/index.ts
Due: middleware-fp

WIP 14
  apps/backend-boilerplate.konker.dev/src/api/root/core.ts
  packages/middleware-fp/src/http/contrib/otelTraceExporterInit/index.ts
Due: middleware-fp

WIP 15
  apps/backend-boilerplate.konker.dev/src/api/root/handler.ts
Due: none

WIP 16
  apps/backend-boilerplate.konker.dev/src/api/root/handler.ts
  packages/middleware-fp/src/http/contrib/otelTraceExporterInit/index.ts
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/lib.ts
Due: middleware-fp

WIP 17
  packages/middleware-fp/src/http/contrib/sqlClientInitPg/lib.ts
Due: middleware-fp

Path conditions:
  aws-client-effect-dynamodb: any of: packages/aws-client-effect-dynamodb/**
  aws-client-effect-s3: any of: packages/aws-client-effect-s3/**
  aws-client-effect-secrets-manager: any of: packages/aws-client-effect-secrets-manager/**
  aws-client-effect-sns: any of: packages/aws-client-effect-sns/**
  aws-client-effect-sqs: any of: packages/aws-client-effect-sqs/**
  aws-client-effect-ssm: any of: packages/aws-client-effect-ssm/**
  middleware-fp: any of: packages/middleware-fp/**
  momento-cache-client-effect: any of: packages/momento-cache-client-effect/**
  tiny-auth-utils-fp: any of: packages/tiny-auth-utils-fp/**
  tiny-cache-fp: any of: packages/tiny-cache-fp/**
  tiny-error-fp: any of: packages/tiny-error-fp/**
  tiny-event-fp: any of: packages/tiny-event-fp/**
  tiny-filesystem-fp: any of: packages/tiny-filesystem-fp/**
  tiny-rules-fp: any of: packages/tiny-rules-fp/**
  tiny-treecrawler-fp: any of: packages/tiny-treecrawler-fp/**
  tiny-utils-fp: any of: packages/tiny-utils-fp/**
